* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
button {
    cursor: pointer;
}
header{
    background-color: #1F2937;
    display: flex;
    font-size: 18px;
    gap: 2em;
    height: 1em;
    align-items: center;
    margin-right: 10em;
    padding: 1em 0;
    margin-left: 40em;
    transform: translateY(-75%);
}
.header {
    background-color: #1F2937;
    color: #E5E7EB;

}
h3 {
    margin-left: 8em;
    font-size: 24px;
    color: #F9FAF8;
}
.main {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    padding: 1em .7em;
    transform: translateY(-10%);
    padding-bottom: 5em;
}
h1 {
    margin-left: 3.8em;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    width: 100%;
}
img {
    margin-right: 20em;
    width: 38em;
    height: 13em;
}
.para {
    transform: translateX(-60%);
    margin-top: 8em;
    transform: translateX(-142%);
    margin-bottom: 1em;
    width: 70%;
}
.headlogo {
    color: #E5E7EB;
    display: flex;
    background-color: #1F2937;
    padding-top: 1.5em;
}
.sec {
    background-color: #3882F6;
    width: 7em;
    height: 2em;
    color: #E5E7EB;
    border: none;
    border-radius: .5em;
    margin-left: 14.5em;
    transform: translateY(-450%);
}
h2 {
    display: flex;
    transform: translateY(-150%);
    justify-content: center;
}
.center_sub {
    display: flex;
    gap: 2rem;
    justify-content: center;
    transform: translateY(-25%);
  }
  .center_sub span {
    width: 8em;
    height: 8em;
    background-color: #fff;
    border: 3px solid #3882F6;
    border-radius: 1em;
  }
  .span {
    display: flex;
    gap: 2rem;
    justify-content: center;
    transform: translateY(-80%);
    width: 44%;
    margin-left: 25.5em;
  }
  .thirdSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    height: 5em;
    padding: 5em;
  }
  .footer {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #1F2937;
    color: #E5E7EB;
  }
  .callToAction {
    padding: 2em;
    margin: 2em;
    color: #F9FAF8;
    background-color: #3882F6;
    width: 60%;
    height: 1.8em;
    margin-left: 15em;
    border-radius: .5em;
  }
  .cta-text {
    transform: translateX(8%);
  }
  .sec2 {
    background-color: #3882F6;
    width: 7em;
    height: 2em;
    color: #E5E7EB;
    border: none;
    border-radius: .5em;
    margin-left: 14.5em;
    border: 2px solid #E5E7EB;
    margin-left: 49em;
    transform: translateY(-110%);
  }
